{% extends 'projects/base.html' %}
{% load static %}

{% block head-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <link href="{% static 'css/home.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}

     <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" >
        {% for p in hRProjects %}
            {% if forloop.counter == 1 %}
                <div class="carousel-item slideCss active" >
                      <a href="{% url 'show_proj' p.id %}">
                      <img src="/static/{{p.imgs.all.first.img_url}}" class="d-block slideCss">
                      </a>
                      <div class="carousel-caption d-none d-md-block bdesc">
                      
                        <h5 class="sliderTitle" >{{p.title}}  </h5>
                        
                        <p class="sliderDesc"> {{p.details}}</p>
                        
                      </div>
                </div>
             {% else %}
                <div class="carousel-item slideCss" >
                <a href="{% url 'show_proj' p.id %}">
                      <img src="/static/{{p.imgs.all.first.img_url}}" class="d-block slideCss">
                      </a>
                      <div class="carousel-caption d-none d-md-block">
                    
                        <h5 class="sliderTitle">{{p.title}} </h5>
                        <p class="sliderDesc"> {{p.details}} </p>
                    
                      </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div> 
 <div class="row">
    

    <div class="col-4">
        <h1 class="subTitle"> Latest Projects</h1> 
        <hr>
        {% for p in latestFiveList %}
        {% if forloop.counter  != 2 and forloop.counter  <= 3 %}
          <div class=" row">
            <div class="col-md-8 latestproject">
                <div class="card cardDes">
                     <a href="{% url 'show_proj' p.id %}">
                    <img src="/static/{{ p.imgs.all.first.img_url }}" class="card-img-top projImg"> </a>
                    <div class="card-body">
                      <h5 class="card-title">{{ p.title }}</h5>
                      <p class="card-text desc">{{p.details }}</p>
                    </div>
                </div>
            </div>
          </div>
        {% elif forloop.counter == 2 %}
          <div class=" row">
            <div class="col-md-8 latestproject">
                <div class="card cardDes">
                 <a href="{% url 'show_proj' p.id %}">
                    <img src="/static/{{ p.imgs.all.first.img_url }}" class="card-img-top projImg"> </a>
                    <div class="card-body">
                      <h5 class="card-title">{{p.title }}</h5>
                      <p class="card-text desc">{{p.details }}</p>
                    </div>
                </div>
            </div>
          </div>
            {% elif forloop.counter > 3 %}
              <div class=" row">
                <div class="col-md-8 latestproject">
                    <div class="card cardDes">
                         <a href="{% url 'show_proj' p.id %}">
                        <img src="/static/{{ p.imgs.all.first.img_url }}" class="card-img-top projImg"> </a>
                        <div class="card-body">
                          <h5 class="card-title">{{p.title }}</h5>
                          <p class="card-text desc">{{p.details }}</p>
                        </div>
                    </div>
                </div>
              </div>
        {% endif %}
        {% endfor %}
    </div>

    

    <div class="col-4">
        <h1 class="subTitle"> Featured Projects</h1> 
        <hr>
        {% for p in fProject %}
          <div class=" row">
            <div class="fproject col-md-8">
                <div class="card cardDes">
                     <a href="{% url 'show_proj' p.id %}">
                    <img src="/static/{{ p.imgs.all.first.img_url }}" class="card-img-top projImg"> </a>
                    <div class="card-body">
                      <h5 class="card-title">{{p.title }}</h5>
                      <p class="card-text desc">{{p.details }}</p>
                    </div>
                </div>
            </div>
          </div> 
        {% endfor %}
    </div>  

    

    <div class="col-4">
        <h1 class="subTitle"> Our Categories </h1> 
        <hr>
        {% for c in categs %}
          <div class=" row">
            <div class="categs col-md-8">
              <div class="card cardDes">
            
                <a href="{% url 'show_cate' c.id %}">
                <img src="/static/{{ c.cat_icon }}" class="card-img-top cimg"> </a>
                <h5 class="card-title" style="text-align: center;">{{c.name }}</h5>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>    
{% endblock %}